{%START_PHP%}
{%LICENSE%}

{%NAMESPACE_CODE%}

return [
    'invokables' => [],
    'factories' => [
        'KryuuModuleCreator\Controller\Console'       => 'KryuuModuleCreator\Controller\Factory\ConsoleControllerFactory',
    ],
];
