{%START_PHP%}
{%LICENSE%}

{%NAMESPACE_CODE%}

return [
    'invokables' => [],
    'factories' => [
        __NAMESPACE__ . '\Controller\Index'       => __NAMESPACE__ . '\Factory\Controller\IndexControllerFactory',
    ],
];
