    /**
     * @return Array
     */
    public function getViewHelperConfig()
    {
        return array(
            'factories' => array(
                '_' => 'KryuuTest\View\Helper\UnifiedTranslatorFactory'
            )
        );
    }
