    /**
     * @param Zend\Mvc\Controller\ControllerManager $controllerManager
     */
    public function createService(ServiceLocatorInterface $serviceLocator)
    {
       $controller = new {%CONTROLLER_NAME%}();
       return $controller;
    }
